<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change password</title>
    <style>
      .mainDiv {
        display: flex;
        min-height: 100vh;
        align-items: center;
        justify-content: center;
        background-color: #f9f9f9;
        font-family: "Open Sans", sans-serif;
      }

      .cardImage img {
        width: 100%;
      }
      .cardStyle {
        width: 500px;
        border-color: white;
        background: #fff;
        padding: 36px 0;
        border-radius: 4px;
        margin: 30px 0;
        box-shadow: 0px 0 2px 0 rgba(0, 0, 0, 0.25);
      }
      #signupLogo {
        max-height: 100px;
        margin: auto;
        display: flex;
        flex-direction: column;
      }
      .formTitle {
        font-weight: 600;
        margin-top: 20px;
        color: #2f2d3b;
        text-align: center;
      }
      .inputLabel {
        font-size: 12px;
        color: #555;
        margin-bottom: 6px;
        margin-top: 24px;
      }
      .inputDiv {
        position: relative;
        width: 70%;
        display: flex;
        flex-direction: column;
        margin: auto;
      }
      input {
        height: 40px;
        font-size: 16px;
        border-radius: 4px;
        border: none;
        border: solid 1px #ccc;
        padding: 0 11px;
      }
      input:disabled {
        cursor: not-allowed;
        border: solid 1px #eee;
      }
      .buttonWrapper {
        margin-top: 40px;
      }
      .submitButton {
        width: 70%;
        height: 40px;
        margin: auto;
        display: block;
        color: #fff;
        background-color: #065492;
        border-color: #065492;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
        border-radius: 4px;
        font-size: 14px;
        cursor: pointer;
      }
      .submitButton:disabled,
      button[disabled] {
        border: 1px solid #cccccc;
        background-color: #cccccc;
        color: #666666;
      }

      #loader {
        position: absolute;
        z-index: 1;
        margin: -2px 0 0 10px;
        border: 4px solid #f3f3f3;
        border-radius: 50%;
        border-top: 4px solid #666666;
        width: 14px;
        height: 14px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      .eye-icon {
        position: absolute;
        top: 3.8rem;
        width: 18px;
        height: 18px;
        right: 10px;
        cursor: pointer;
      }
      .eye-icon2 {
        position: absolute;
        top: 3.8rem;
        width: 18px;
        height: 18px;
        right: 10px;
        cursor: pointer;
      }
    </style>
    <!-- <style>
      body {
        font-family: "Arial", sans-serif;
        background-color: #f4f4f4;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
      }




      .container {
        max-width: 400px;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }




      label {
        display: block;
        margin-bottom: 8px;
      }




      input {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
      }




      button {
        background-color: #1302aa;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }




      button:hover {
        background-color: #01004e;
      }
    </style> -->
  </head>

  <body>
    <div class="mainDiv">
      <div class="cardStyle">
        <div class="cardImage">
          <img
            src="https://images.unsplash.com/photo-1584433144859-1fc3ab64a957?q=80&w=1630&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="image"
          />
        </div>
        <form action="" method="post" name="signupForm" id="signupForm">
          <img src="" id="signupLogo" />

          <h2 class="formTitle">Change Password</h2>

          <div class="inputDiv">
            <label class="inputLabel" for="password">New Password</label>
            <input type="password" id="password" name="password" required />
            <span
              class="eye-icon"
              onclick="togglePasswordVisibility('password')"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
                id="closed"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88"
                />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
                id="open"
                style="display: none"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                />
              </svg>
            </span>
          </div>

          <div class="inputDiv">
            <label class="inputLabel" for="confirmPassword"
              >Confirm Password</label
            >
            <input
              type="password"
              id="confirmPassword"
              name="confirmPassword"
            />

            <span
              class="eye-icon2"
              onclick="togglePasswordVisibility('confirmPassword')"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
                id="closed"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88"
                />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
                id="open"
                style="display: none"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                />
              </svg>
            </span>
          </div>

          <!-- <div class="buttonWrapper">
            <button
              type="submit"
              id="submitButton"
              onclick="checkPassword(e)"
              class="submitButton pure-button pure-button-primary"
            >
              <span>Continue</span>
            </button>
          </div> -->
        </form>
        <div class="buttonWrapper">
          <button
            type="button"
            id="submitButton"
            onclick="checkPassword()"
            class="submitButton pure-button pure-button-primary"
          >
            <span>Continue</span>
          </button>
        </div>
      </div>
    </div>
    <!-- <div class="container">
      <h2>Change Password</h2>
      <form id="passwordForm">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />




        <label for="confirmPassword">Confirm Password:</label>
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          required
        />
        <button type="button" onclick="checkPassword()">Change Password</button>
      </form>
    </div> -->
  </body>
</html>

<script>
  // console.log("User ID:", userId);

  function togglePasswordVisibility(inputId) {
    const passwordInput = document.getElementById(inputId);

    const eyeToggle = document.querySelector(".eye-icon");
    const type = passwordInput.type === "password" ? "text" : "password";
    if (type === "password") {
      const opened = document.querySelectorAll("#open");
      const closed = document.querySelectorAll("#closed");
      for (let i = 0; i < opened.length; i++) {
        opened[i].style.display = "none";
        closed[i].style.display = "block";
      }
    } else {
      const opened = document.querySelectorAll("#open");
      const closed = document.querySelectorAll("#closed");
      for (let i = 0; i < opened.length; i++) {
        opened[i].style.display = "block";
        closed[i].style.display = "none";
      }
      // document.querySelectorAll("#closed").style.display = "none";
      // document.querySelectorAll("#open").style.display = "block";
    }
    passwordInput.type = type;
  }
  async function checkPassword(e) {
    const password = document.getElementById("password").value;
    const confirmPassword = document.getElementById("confirmPassword").value;

    // Check if fields are not blank
    if (password.trim() === "" || confirmPassword.trim() === "") {
      alert("Please fill in both password fields.");
      return;
    }
    // Regex for a password like "SuperAdmin@12345"
    const passwordRegex =
      /^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
    if (password === confirmPassword) {
      if (passwordRegex.test(password)) {
        try {
          let userId = "<%= userId %>";
          const environment = "<%= process.env.NODE_ENV %>";
          let apiUrl;
          let navigateUrl;
          if (environment === "development") {
            apiUrl = "<%= process.env.LOCAL_HOST_URL %>";
          } else {
            apiUrl = "<%= process.env.PRODUCTION_URL %>";
          }

          const response = await fetch(`${apiUrl}/auth/verifyChangePassword`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ password, userId }),
          });

          const data = await response.json();
          alert(data?.message);

          const role = data?.role?.roleName;

          console.log("It is role", role);
          if (role === "SUPER_ADMIN" || role === "ADMIN") {
            if (environment === "development") {
              window.location.href = "<%= process.env.ADMIN_LOCAL_HOST_URL %>";
            } else {
              window.location.href = "<%= process.env.ADMIN_PRODUCTION_URL %>";
            }
          } else {
            if (environment === "development") {
              window.location.href = "<%= process.env.CLIENT_LOCAL_HOST_URL %>";
            } else {
              window.location.href = "<%= process.env.CLIENT_PRODUCTION_URL %>";
            }
          }
        } catch (error) {
          console.log(error);
          // alert("Error");
        }
      } else {
        alert(
          "Passsword must contain combination of Uppercase and Lowercase alphabets,Special Case letters,and Numbers"
        );
      }
      // console.log("Passwords match!");
    } else {
      alert("Passwords do not match.");
    }
  }
</script>
